<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Joias</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Inicie o seu login!</h2>

            <form action="#">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" placeholder="Digite seu nome">

                <label for="email">E-mail:</label>
                <input type="email" id="email" placeholder="Digite seu e-mail">

                <label for="senha">Senha:</label>
                <input type="password" id="senha" placeholder="Digite sua senha">

                <div class="remember">
                     <label class="checkbox-container"></label>
                    <input type="checkbox" id="lembrar">
                    <label for="lembrar">Lembrar-me</label>
                    
                </div>

                <button type="submit" class="btn">ENTRAR</button>
            </form>

            <p class="forgot">Esqueceu sua senha?</p>

            <div class="social-login">
                <button class="google">Faça login com Google</button>
                <button class="facebook">Entre com Facebook</button>
            </div>
        </div>

        <div class="image-container">
            <img src="login.jpg" alt="Joias">
        </div>
    </div>
</body>
</html>
