* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
   background-color: #f6efe9;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6efe9;
    width: 900px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 16px #ab94711e;
    max-width: 98vw;
}

.form-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 32px;
}

h2 {
    color: #5F4F38;
    margin-bottom: 26px;
    font-size: 2rem;
    font-weight: 700;
}

label {
    font-size: 14px;
    color: #5F4F38;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 18px;
    border: 1px solid #d9c9b9;
    border-radius: 10px;
    background: #fdfbf9;
    font-size: 15px;
    color: #4a3c31;
    transition: all 0.3s;
}

input:focus {
    background-color: #f0e4d8; 
    border-color: #c5a57c; 
    outline: none;
}

input::placeholder {
    color: #c0b0a1; 
}

.btn {
    width: 100%;
    background-color: #A7937A;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 0;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    margin-top: 6px;
    transition: background .2s;
}

.btn:hover {
    background-color: #a4886a;
}

.image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 38px 10px;
    background: none;
}

.image-container img {
    opacity:1;
    width: 95%;
    max-width: 320px;
    border-radius: 25px;
    object-fit: cover;
    box-shadow: 0 2px 12px #b9ac9991;
}

/* Responsividade */
@media (max-width: 850px) {
    .container {
        flex-direction: column-reverse;
        min-width: 320px;
        width: 98vw;
    }
    .form-container, .image-container {
        width: 100%;
        padding: 30px 22px;
        max-width: 420px;
        margin: 0 auto;
    }
    .image-container img {
        width: 80%;
        max-width: 220px;
    }
    h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .container {
        border-radius: 0;
        box-shadow: none;
        min-width: unset;
        width: 100vw;
    }
    .form-container, .image-container {
        padding: 14px 6px;
    }
    h2 {
        font-size: 1.2rem;
        margin-bottom: 18px;
    }
}